
.ipynb_checkpoints/pilhas_filas_deques-checkpoint.ipynb
.ipynb_checkpoints/vetor_nao_ordenado-checkpoint.ipynb
.ipynb_checkpoints/vetor_ordenado-checkpoint.ipynb
.ipynb_checkpoints/Listas encadeadas-checkpoint.ipynb
.ipynb_checkpoints/listas_encadeadas-checkpoint.ipynb
.ipynb_checkpoints/pilha_com_lista_encadeada-checkpoint.ipynb
.ipynb_checkpoints/fila_com_lista_encadeada-checkpoint.ipynb
.ipynb_checkpoints/ordenacao-checkpoint.ipynb
.ipynb_checkpoints/arvores-checkpoint.ipynb
.ipynb_checkpoints/grafos-checkpoint.ipynb
.ipynb_checkpoints/arvores_binarias_de_busca-checkpoint.ipynb
