
.ipynb_checkpoints/pilhas_filas_deques-checkpoint.ipynb
.ipynb_checkpoints/vetor_nao_ordenado-checkpoint.ipynb
.ipynb_checkpoints/vetor_ordenado-checkpoint.ipynb
.ipynb_checkpoints/Listas encadeadas-checkpoint.ipynb
